<div class="note row">
  <div class="col-md-1 td-image col-xs-1">
    <%= image_tag "task.png", class: "img-task" %>
  </div>
  <div class="col-md-10 col-xs-10">
    <div class="task-name">
      <%= task.name %>
    </div>
    <div class="task-description">
      <p><%= task.description %></p>
    </div>
  </div>
</div>
