<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3><%= t "task.title_show_task" %></h3>
      </div>
      <div class="panel-body">
        <div class="col-md-8">
          <ul class="timeline timeline-custom">
            <% @tasks.each do |task| %>
              <li class="timeline-inverted">
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4 class="timeline-title"></h4>
                    <div class="timeline-body">
                      <p><%= task.name %></p>
                      <p><%= task.description %></p>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
